.cover-photo-about {
    width: 90%;
    height: 12rem;
    margin: 0 auto;
    border-radius: 15px;
    background: linear-gradient(rgba(22, 22, 22, 0.39), rgba(19, 18, 18, 0.5)), url("../forestCover.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.list-wrapper {
    list-style: none;
    justify-content: center;
    display: block;
    justify-items: center;
    padding-left: 0;
    margin-bottom: 7rem;
}

.list-item {
    width: 60%;
    height: 3rem;
    background-color: #FF6060;
    margin: 0 auto;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
}

.list-wrapper>li {
    margin: 2rem 0;
}

.icon-wrapper {
    margin: auto 0;
    cursor: pointer;
    height: auto;
    width: auto;
}

.list-item>p {
    margin: auto 0;
    color:  white;
}

.expanded-text {
    width: 60%;
    height: auto;
    margin: 0 auto;
    background-color: #F6F6F6;
    padding: 1rem;
}

.expanded-text>p {
    margin: 0;
    color: #FF6060;
}

.collapsed-text {
    height: 0;
    overflow: hidden;
}


@media screen and (max-width: 500px) {
    .list-item,.expanded-text {
        width: 80%;
    }
}